# dependencies
node_modules/

# env
.env*
!.env.example

# next.js
.next/
out/

# build
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
